<div class="body">
    <div class="head">
     <h1>Most popular</h1>
     <img src="assets/Group 145830.svg" alt="See All >">
      <!-- <p>See All ></p> -->
 
    </div> 
    <div class="events">
     <div class="event-card" routerLink="/event-page">
         <img src="assets/Mask Group 141190-4.png" alt="">
         <div class="heading">
         <p>Find your Pride in San Franciso year-round fest</p>
 
         </div>
         <div class="line">
             <img src="assets/Calendar.svg" alt="">
             <p>Oct 1, Sat | 7:00 PM Onwards</p>
         </div>
         <div class="line">
             <img src="assets/Location.svg" alt="">
             <p>Oakland</p>
         </div>
         <div class="box-orange">
             Most popular
         </div>
         <div class="line-price">
            <div class="price">
             <p>From</p>
             <h5>$57.79</h5>
            </div>
            <div class="buy">
             Buy Now
            </div>
         </div>
     </div>
     <div class="event-card" routerLink="/event-page">
         <img src="assets/Mask Group 141190-3.png" alt="">
         <div class="heading">
         <p>Make a Difference: Give back at these events</p>
 
         </div>
         <div class="line">
             <img src="assets/Calendar.svg" alt="">
             <p>Oct 1, Sat | 7:00 PM Onwards</p>
         </div>
         <div class="line">
             <img src="assets/Location.svg" alt="">
             <p>Oakland</p>
         </div>
         <div class="box-orange">
            Most popular
        </div>
         <div class="line-price">
            <div class="price">
             <p>From</p>
             <h5>$57.79</h5>
            </div>
            <div class="buy">
             Buy Now
            </div>
         </div>
     </div>
     <div class="event-card" routerLink="/event-page">
         <img src="assets/Mask Group 141190-2.png" alt="">
         <div class="heading">
         <p>Wear green and GTFO at St. Patrick’s Day Special</p>
 
         </div>
         <div class="line">
             <img src="assets/Calendar.svg" alt="">
             <p>Oct 1, Sat | 7:00 PM Onwards</p>
         </div>
         <div class="line">
             <img src="assets/Location.svg" alt="">
             <p>Oakland</p>
         </div>
         <div class="box-orange">
             Most popular
         </div>
         <div class="line-price">
            <div class="price">
             <p>From</p>
             <h5>$57.79</h5>
            </div>
            <div class="buy">
             Buy Now
            </div>
         </div>
     </div>
     <div class="event-card" routerLink="/event-page">
         <img src="assets/Mask Group 141190-5.png" alt="">
         <div class="heading">
         <p>Women’s History Month 2024</p>
 
         </div>
         <div class="line">
             <img src="assets/Calendar.svg" alt="">
             <p>Oct 1, Sat | 7:00 PM Onwards</p>
         </div>
         <div class="line">
             <img src="assets/Location.svg" alt="">
             <p>Oakland</p>
         </div>
         <div class="box-orange">
            Most popular
        </div>
         <div class="line-price">
            <div class="price">
             <p>From</p>
             <h5>$57.79</h5>
            </div>
            <div class="buy">
             Buy Now
            </div>
         </div>
     </div>
 </div>
 </div>