.event-page {
    width: 100%;      
    height: auto;     
    overflow: visible;
   position: relative;
  }
.head{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 12px;
}
.body{
    margin-left: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.line{
    display: flex;
    flex-direction: row;
}
.line img{
    width: 124px;
height: 124px;
margin-right: 16px;
background: #000000 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #00000008;
border-radius: 12px;
opacity: 0.8;
}
.box{
color: white;
width: 124px;
height: 124px;
margin-right: 16px;
background: #000000;
box-shadow: 0px 2px 4px #00000008;
border-radius: 12px;
opacity: 0.8;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.box2{
    width: 665px;
height: 150px;
}
.box3{
    width: 665px;
height: 191px;
}
.faq-section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .faq-question {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .faq-answer {
    padding: 10px 0;
    font-size: 16px;
  }
  
  .faq-icon {
    font-size: 20px;
  }
  .col-faq{
    padding: 10px;
    width: 665px;
   min-height: 468px;
   max-height: auto;
    border: 1px solid #00000014;
    border-radius: 16px;
    opacity: 1;
  }
  .box5{
    width: 665px;
height: auto;
background: #F8F8F8 0% 0% no-repeat padding-box;
border: 1px solid #00000014;
border-radius: 16px;
opacity: 1;
padding: 16px;
  }
  .bo6 img{
    width: 665px;
  }
  .cart {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 0 5px;
  }
  
  .total {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    cursor: pointer;
  }
  .left{
    width:100px;
  }