<div class="body">
    <div class="head">
        <h1>Spotlight</h1>
    </div>
    <div class="bg">
        <img src="assets/Spotlight cover.png" alt="">
    </div>
    <div class="content">
         <div class="head">
           <h1> San Francisco Bay Area events: experience the Golden City</h1>
         </div>
         <div class="content-body">
            There’s something magical about San Francisco, whether you’re cruising by the Golden Gate Bridge on a boat tour or dancing at a party in the Mission. Discover fantastic things to do in the Bay Area today by exploring this calendar of concerts, comedy shows, pop-up markets, and more — all selected by Eventbrite’s expert event curators.
         </div>
         <div class="line">
            <img src="assets/Calendar.svg" alt="">
            <p>Oct 1, Sat | 7:00 PM Onwards</p>
        </div>
        <div class="line">
            <img src="assets/Location.svg" alt="">
            <p>Oakland</p>
        </div>

        <div class="box">
            grab ticket
        </div>
    </div>
</div>