<div class="hero">
  <h1>Browse events by genre</h1>

    <div class="hero-content" *ngIf="showBox1" >
      <div class="box" (click)="toggleBoxes()">
        <img src="assets/Group 150809.svg" alt="" class="box-type-event">
        <h3>Party</h3>
        20 events
      </div>
      <div class="box" (click)="toggleBoxes()">
        <img src="assets/Group 150810.svg" alt="" class="box-type-event">
        <h3>Comedy</h3>
        20 events
      </div>
        <div class="box" (click)="toggleBoxes()">
        <img src="assets/Group 150812.svg" alt="" class="box-type-event">
        <h3>Conference</h3>
        5 events
      </div>
        <div class="box" (click)="toggleBoxes()">
        <img src="assets/Group 150811.svg" alt="" class="box-type-event">
        <h3>Trek</h3>
        2 events
      </div>
        <div class="box" (click)="toggleBoxes()">
        <img src="assets/Group 150814.svg" alt="" class="box-type-event">
        <h3>Concert</h3>
        12 events
      </div>
        <div class="box" (click)="toggleBoxes()">
        <img src="assets/Group 150811-1.svg" alt="" class="box-type-event">
        <h3>Meetups</h3>
        2 events
      </div>

      </div>
      <div class="hero-content-2" *ngIf="!showBox1" (click)="toggleBoxes()">
        <div class="box2" (click)="toggleBoxes()">
          <img src="assets/1.png" alt="" class="box-type-event-2">
          20 events
        </div>
        <div class="box2" (click)="toggleBoxes()">
          <img src="assets/2.png" alt="" class="box-type-event-2">
          20 events
        </div>
          <div class="box2" (click)="toggleBoxes()">
          <img src="assets/3.png" alt="" class="box-type-event-2">
          5 events
        </div>
          <div class="box2" (click)="toggleBoxes()">
          <img src="assets/4.png" alt="" class="box-type-event-2">
          2 events
        </div>
          <div class="box2" (click)="toggleBoxes()">
          <img src="assets/5.png" alt="" class="box-type-event-2">
          12 events
        </div>
          <div class="box2" (click)="toggleBoxes()">
          <img src="assets/6.png" alt="" class="box-type-event-2">
          2 events
        </div>
          <div class="box2" (click)="toggleBoxes()">
          <img src="assets/7.png" alt="" class="box-type-event-2">
          2 events
        </div>
  
        </div>
    </div>
  