<div class="footer">
  <div class="logo">
    <h1>BLINKTICKETS</h1>
  </div>
  <div class="body">
    <div class="col">
   <div class="line">
    <img src="assets/mail-svgrepo-com.svg" alt="Mail Icon" width="24" height="24" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
    <span>support&#64;blinktickets.com</span>

   </div>
   <div class="line">
    <img src="assets/mobile-svgrepo-com.svg" alt="Mail Icon" width="24" height="24" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
    <span>(470)929-7399</span>
    
   </div>
   <div class="line">
    <img src="assets/facebook.svg" alt="Mail Icon" width="24" height="24" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
    <img src="assets/youtube.svg" alt="Mail Icon" width="24" height="24" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
    <img src="assets/instagram.svg" alt="Mail Icon" width="24" height="24" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
    
   </div>
  </div>
  <div class="col2">
    <h3>Quick Links</h3>
    <span>Terms & Conditions</span>
    <span>Privacy Policy</span>
    <span>Copyright Policy</span>
  </div>
  <div class="col2">
    <h3>About</h3>
    <span>About Us</span>
    <span>Contact Us</span>
    <span>Feedback</span>
  </div>
</div>
<div class="footer-image">
  <img src="assets/Screenshot (481).png" alt="">
</div>
<div class="copyright">
  <span>&copy; All rights reserved. Made by Cavius Technologies
  </span>
</div>
</div>