<div class="body">

    <div class="head">
        <h1>Explore events by city</h1>
    </div>
    <div class="city">
    <div class="col">
        <img src="assets/NoPath - Copy (6).png" alt="">
        <h3>San Francisco</h3>
        <p>20 events</p>
    </div>
    <div class="col">
        <img src="assets/NoPath - Copy (7).png" alt="">
        <h3>Chicago</h3>
        <p>20 events</p>
    </div>
    <div class="col">
        <img src="assets/NoPath - Copy (8).png" alt="">
        <h3>Los Angeles</h3>
        <p>5 events</p>
    </div>
    <div class="col">
        <img src="assets/NoPath - Copy (9).png" alt="">
        <h3>San Dieago</h3>
        <p>2 events</p>
    </div>
    <div class="col">
        <img src="assets/NoPath - Copy (10).png" alt="">
        <h3>Texas</h3>
        <p>12 events</p>
    </div>
    <div class="col">
        <img src="assets/NoPath - Copy (11).png" alt="">
        <h3>Arizona</h3>
        <p>2 events</p>
    </div>
</div>
</div>